<!DOCTYPE html>
<html>
  <head>
    <title>Artur Jaakman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Audio</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a href="#"><%= link_to "Audio Synthesizer", portfolio_synth_path %></a></li>
              <li><a href="#"><%= link_to "Distortion VST Plugin", portfolio_vst_path %></a></li>
            </ul>
          </li>
          <li>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a href="#"><%= link_to "UE4 Rewinder Class", portfolio_rewinder_path %></a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
